{{- includeTemplate "environments/org.freedesktop.specifications.basedir/darwin.env" . }}

{{- includeTemplate "environments/com.amazon.aws.aws-cli/darwin.env" . }}
{{- includeTemplate "environments/com.helix-editor.helix/darwin.env" . }}
{{- includeTemplate "environments/com.npmjs.cli/darwin.env" . }}
{{- includeTemplate "environments/com.visualstudio.code/darwin.env" . }}
{{- includeTemplate "environments/io.github.byteness.aws-vault/darwin.env" . }}
{{- includeTemplate "environments/io.github.rshirohara.dotfiles/path.darwin.env" }}
{{- includeTemplate "environments/org.gnupg/darwin.env" . }}
{{- includeTemplate "environments/org.zsh/darwin.env" . }}
{{- includeTemplate "environments/rs.starship/darwin.env" . }}

{{- includeTemplate "environments/io.github.rshirohara.dotfiles/loaded.env" . -}}
