{{- includeTemplate "environments/org.freedesktop.specifications.basedir/darwin.env" . }}

{{- includeTemplate "environments/org.zsh/darwin.env" . }}

{{- includeTemplate "environments/io.github.rshirohara.dotfiles/loaded.env" . -}}
