{{- includeTemplate "environments/org.freedesktop.specifications.basedir/linux.env" . }}

{{- includeTemplate "environments/org.zsh/linux.env" . }}

{{- includeTemplate "environments/io.github.rshirohara.dotfiles/loaded.env" . -}}
