{{- includeTemplate "configs/dev.jdx.mise/config.global.toml" . }}

{{- if (eq .chezmoi.os "darwin") }}
{{-   includeTemplate "configs/dev.jdx.mise/config.darwin.toml" . }}
{{- else if (eq .chezmoi.os "linux") }}
{{-   includeTemplate "configs/dev.jdx.mise/config.linux.toml" . }}
{{- end -}}
