# Chezmoi settings.

sourceDir = "{{ .chezmoi.sourceDir }}"

[diff]
pager = "delta"

[edit]
command = "{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch")) }}helix{{ else }}hx{{ end }}"
