# Chezmoi settings.

encryption = "age"
sourceDir = "{{ .chezmoi.sourceDir }}"

[age]
{{- if (eq .chezmoi.os "linux") }}
identity = "~/.config/chezmoi/chezmoi.encrypt.txt"
{{- end }}
recipient = "age1jta6ueq3ht9gpzu2n4pdh0z9rwlw4h63330dajate8802kjad42qvzdyq5"

[diff]
pager = "delta"

[edit]
{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch")) }}
command = "helix"
{{- else }}
command = "hx"
{{- end }}
