{{- if (and (eq .chezmoi.os "linux") (lookPath "flatpak")) }}
{{-   includeTemplate "configs/sh.nushell.nushell/modules/com.visualstudio.code./linux.flatpak.mod.nu" . }}
{{- else if (eq .chezmoi.os "linux") }}
{{-   includeTemplate "configs/sh.nushell.nushell/modules/com.visualstudio.code./linux.default.mod.nu" . }}
{{- end -}}
