/* Remove private mode label */
hbox.private-browsing-indicator-with-label {
  padding-bottom: 6px !important;
}

label.private-browsing-indicator-label {
  visibility: collapse;
}

/* Fix TabsToolbar position (firefox-pwa only) */
#TabsToolbar>:not(.titlebar-buttonbox-container) {
  position: relative !important;
  top: -6px !important;
}

#TabsToolbar-customization-target {
  margin-left: 80px !important;
}

