/* Remove private mode label */
hbox.private-browsing-indicator-with-label {
  padding-bottom: 6px !important;
}

label.private-browsing-indicator-label {
  visibility: collapse;
}

/* Fix TabsToolbar visible (firefox-pwa only) */
#navigator-toolbox {
  #toolbar-menubar,
  #TabsToolbar {
    &>.titlebar-buttonbox-container {
      display: inherit !important;
      margin-left: 16px;

      .titlebar-buttonbox {
        list-style-image: none;
      }
    }
  }
}
