[submodule "submodules/prezto"]
	path = submodules/prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "submodules/home-commands"]
	path = submodules/home-commands
	url = https://github.com/fumiyas/home-commands
[submodule "submodules/vim-airline"]
	path = submodules/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "submodules/vim-airline-themes"]
	path = submodules/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
