[submodule "submodules/prezto"]
	path = submodules/prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "submodules/home-commands"]
	path = submodules/home-commands
	url = https://github.com/fumiyas/home-commands
[submodule "submodules/vim-plug"]
	path = submodules/vim-plug
	url = https://github.com/junegunn/vim-plug
