# This is Git's per-user configuration file.
[core]
    editor = code --wait
    filemode = false
    ignorecase = false
	excludesfile = /home/rshirohara/.gitignore

[user]
    name = Ray Shirohara
    email = 47940764+RShirohara@users.noreply.github.com

[color]
    ui = auto

[merge]
    tool = vimdiff

[mergetool]
    prompt = false

[push]
    default = simple

[diff]
    tool = vimdiff

[difftool]
    prompt = false
