{{- with $root := (.) }}
{{- with $global := (fromJson (includeTemplate "configs/com.visualstudio.code/settings.global.json" .)) }}
{{- with $linux_flatpak := (fromJson (includeTemplate "configs/com.visualstudio.code/settings.linux.flatpak.json" .)) }}
{{- with $linux_default := (fromJson (includeTemplate "configs/com.visualstudio.code/settings.linux.default.json" .)) }}

{{- if (and (eq $root.chezmoi.os "linux") (lookPath "flatpak")) }}
{{/*  TODO: change `merge` to `mergeWithAppendSlice`.
      Ref: <https://github.com/Masterminds/sprig/issues/300>
 */}}
{{-   merge $global $linux_flatpak
      | toPrettyJson
}}
{{- else if (eq $root.chezmoi.os "linux") }}
{{-   merge $global $linux_default
      | toPrettyJson
}}
{{- end }}

{{- end }}
{{- end }}
{{- end }}
{{- end }}
