{{- if (eq .chezmoi.os "darwin") }}
{{-   includeTemplate "configs/com.npmjs.cli/darwin.npmjs" . }}
{{- else if (eq .chezmoi.os "linux") }}
{{-   includeTemplate "configs/com.npmjs.cli/linux.npmjs" . }}
{{- end -}}
