{{- includeTemplate "configs/org.zsh.zsh/config.global.sh" . }}

{{- if (eq .chezmoi.os "darwin") }}
{{-   includeTemplate "configs/org.zsh.zsh/config.darwin.sh" . }}
{{- else if (eq .chezmoi.os "linux" )}}
{{-   includeTemplate "configs/org.zsh.zsh/config.linux.sh" . }}
{{- end -}}
