#!/usr/bin/env bash

set -o "errexit" -o "nounset" -o "pipefail"

{{- if (and (eq .chezmoi.os "darwin") (lookPath "brew")) }}
cat <<PACKAGES | brew bundle --file="/dev/stdin"
{{-   range .dependency.darwin.homebrew.taps }}
tap {{ . | quote }}
{{-   end }}
cask_args appdir: "~/Applications", require_sha: true
{{-   range .dependency.darwin.homebrew.brews }}
brew {{ . | quote }}
{{-   end }}
{{-   range .dependency.darwin.homebrew.casks }}
cask {{ . | quote }}
{{-   end }}
PACKAGES
{{- else if (and (eq .chezmoi.os "linux") (lookPath "brew")) }}
cat <<PACKAGES | brew bundle --file="/dev/stdin"
{{-   range .dependency.linux.homebrew.taps }}
tap {{ . | quote }}
{{-   end }}
{{-   range .dependency.linux.homebrew.brews }}
brew {{ . | quote }}
{{-   end }}
PACKAGES
{{- else }}
echo "Can't detect supported package manager."
exit 1
{{- end }}
