#!/usr/bin/env bash

set -o "errexit" -o "nounset" -o "pipefail"

{{- if (lookPath "brew") }}
cat <<PACKAGES | brew bundle --file="/dev/stdin"
{{-   range .dependency.linux.homebrew.taps }}
tap {{ . | quote }}
{{-   end }}
{{-   range .dependency.linux.homebrew.brews }}
brew {{ . | quote }}
{{-   end }}
PACKAGES
{{- else }}
echo "Can't detect supported package manager."
exit 1
{{- end }}
