{{- includeTemplate "configs/com.git-scm.git/global.gitconfig" . }}

{{- if (eq .chezmoi.os "darwin") }}
{{-   includeTemplate "configs/com.git-scm.git/credential.darwin.gitconfig" . }}
{{- else if (and
      (eq .chezmoi.os "linux")
      (.chezmoi.kernel.osrelease | lower | contains "microsoft")
) }}
{{-   includeTemplate "configs/com.git-scm.git/credential.linux.wsl.gitconfig" . }}
{{  else if (eq .chezmoi.os "linux") }}
{{-   includeTemplate "configs/com.git-scm.git/credential.linux.default.gitconfig" . }}
{{  end }}

{{- includeTemplate "configs/com.git-scm.git/import.RShirohara@proton.me.gitconfig" . -}}
