if [[ "${DOTFILES_ENV_LOADED:-false}" != "true" ]]; then
{{ if (eq .chezmoi.os "darwin") }}
{{-   with $envs := (cat
        (includeTemplate "remove_dot_chezmoidata/env.linux.tmpl" .)
) }}
{{-     $envs
        | replaceAllRegex "^" "\n"
        | replaceAllRegex "\n(.+=)" "\n  export $1"
        | replaceAllRegex "^\n" ""
}}
{{-   end }}
{{- else if (eq .chezmoi.os "linux") }}
{{-   with $envs := (cat
        (includeTemplate "remove_dot_chezmoidata/env.linux.tmpl" .)
) }}
{{-     $envs
        | replaceAllRegex "^" "\n"
        | replaceAllRegex "\n(.+=)" "\n  export $1"
        | replaceAllRegex "^\n" ""
}}
{{-   end }}
{{- end -}}
fi
