# Chezmoi settings.

sourceDir = "{{ .chezmoi.sourceDir }}"

[diff]
command = "delta"
args = ["{{"{{"}}.Destination{{"}}"}}", "{{"{{"}}.Target{{"}}"}}"]

[merge]
command = "echo"
args = ["{{"{{"}}.Destination{{"}}"}}", "{{"{{"}}.Source{{"}}"}}", "{{"{{"}}.Target{{"}}"}}"]
